# =======================================
# REQUIREMENTS ESSENCIAL - PROJETO MLOPS
# =======================================

# === CORE DATA SCIENCE ===
numpy
pandas
scikit-learn
matplotlib
seaborn

# === JUPYTER NOTEBOOK ===
jupyter
ipykernel

# === FASTAPI (WEB API) ===
fastapi
uvicorn[standard]
python-multipart

# === STORAGE S3/MinIO ===
boto3
minio

# === DATABASE ===
sqlalchemy
psycopg2-binary

# === MLFLOW ===
mlflow

# === SNOWFLAKE ===
snowflake-connector-python
snowflake-sqlalchemy

# === IOT / THINGSBOARD ===
tb-mqtt-client
requests

# === UTILITIES ===
python-dotenv
tqdm
pyyaml
